@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
*{
    font-family: 'Jua', sans-serif;
}
ul {
	list-style: none;
}
ul #main{
	display:flex;
	flex-direction:column;
}
ul .row {
	display: flex;
	flex-direction : row; /* 기본값 */
}
.row > li{
	padding: 3px 0px;
}
.row > li:nth-child(1){ /* .row의 자식태그중 li 그리고 그 li의 n번째 위치로*/
	flex-basis:10%;
}	
.row > li:nth-child(2){
	flex-basis:35%;
}
.row > li:nth-child(3){
	flex-basis:25%;
}
.row > li:nth-child(4){
	flex-basis:10%;
}
.row > li:nth-child(5){
	flex-basis:20%;
}
li.top{
	color : #6d98fc;
	font-size: 20px;
}
.pagenum {
    border: 1px solid gray;
    color: #0178b6;
    padding: 3px 5px;
    text-decoration: none;  /*  밑줄제거  */
    cursor: pointer;
    display: inline-block;
   text-align:center;
   font-size: 9pt;
   border-radius: 3px;
}
.pagenum:hover{
     background-color:gray;
     color:white;
} 

.current{
	background-color: gray;
	color:orange;
}

